@page
@model QuestionModel
@{
    ViewBag.Title = "Question " + Model.QuestionViewModel.Number;
}
<div class="jumbotron">
    <h2>Question @Model.QuestionViewModel.Number</h2>
    <p>
        @Model.QuestionViewModel.Question.Text
    </p>
    <form asp-page="Question" asp-route-id="@Model.QuestionViewModel.Question.Id"
        method="post" class="form-inline">
        <div class="row">
            <div class="col-md-5 alert alert-info">
                <input type="radio" class="radio radio-inline"
                       name="answer" id="ARadio" value="A"
                       @if (Model.QuestionViewModel.Answer == "A") { @: checked="checked"
                                                                                            } />
                <label for="ARadio">@Model.QuestionViewModel.Question.AnswerA</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 alert alert-info">
                <input type="radio" class="radio" name="answer"
                       id="BRadio" value="B"
                       @if (Model.QuestionViewModel.Answer == "B") { @: checked="checked"
                                                                     } />
                <label for="BRadio">@Model.QuestionViewModel.Question.AnswerB</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 alert alert-info">
                <input type="radio" class="radio" name="answer"
                       id="CRadio" value="C"
                       @if (Model.QuestionViewModel.Answer == "C") { @: checked="checked"
                                                                     } />
                <label for="CRadio">@Model.QuestionViewModel.Question.AnswerC</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 alert alert-info">
                <input type="radio" class="radio" name="answer"
                       id="DRadio" value="D"
                       @if (Model.QuestionViewModel.Answer == "D") { @: checked="checked"
                                                                     } />
                <label for="DRadio">@Model.QuestionViewModel.Question.AnswerD</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input name="submit" type="submit" value="End Quiz"
                       class="btn btn-warning" />
            </div>
            <div class="col-md-4">
                @if (Model.QuestionViewModel.Number > 1)
{
                @:<input name="submit" type="submit" value="Previous" class="btn btn-default" />
}
            </div>
            <div class="col-md-4">
                @if (Model.QuestionViewModel.Number == Model.QuestionViewModel.Total)
{
                @:<input name="submit" type="submit" value="Finish" class="btn btn-default" />
}
else
{
                @:<input name="submit" type="submit" value="Next" class="btn btn-success" />
}
            </div>
        </div>
    </form>
</div>